<h1>Schooley L'S Burger Joint</h1>

<div class="form-box">
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger"></label>
    <input type="text" id="burger" placeholder="Burger Name" name="name">
  </div>

  <div class="form-group">
    <label for="devoured"></label><br>
    <input type="radio" name="devoured" value="1" checked> I Already Ate<br>
    <input type="radio" name="devoured" value="0"> Ready to be Eaten
  </div>

  <button class="submit-button" type="submit">Add the burger</button>
</form>


<h2>Burgers Waiting to be Eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Oh No! These Burgers are all gone!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

</div>